<nav>
    <div class="site-title">
      <a href="/"><h1>Meal Sharing</h1></a>
      <p>A Hack Your Future Site</p>
    </div>
    <ul>
      <li><a href="/">Meals</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/all-meals/create">New Meal</a></li>
    </ul>
</nav>